
<!DOCTYPE html>
<html>
    <head>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <script src="../js/jquery-3.2.1.min.js" ></script>
        <script src="../js/weixin/js-sdk-config.js" ></script>
        <script>

            function previewFile(){
                wx.previewFile({
                    url: 'http://fssc.chinamacro.cn:8082/hec4dev/atm_download.svc?attachment_id=2863', // 需要预览文件的地址(必填，可以使用相对路径)
                    name: '9.5移动端测试汇总问题.xlsx', // 需要预览文件的文件名(不填的话取url的最后部分)
                    size: 1048576 // 需要预览文件的字节大小(必填)
                });
            }

            function openDefaultBrowser(){
                wx.invoke('openDefaultBrowser', {
                    'url': 'http://fssc.chinamacro.cn:8082/hec4dev/atm_download.svc?attachment_id=2863', // 在默认浏览器打开redirect_uri，并附加code参数；也可以直接指定要打开的url，此时不会附带上code参数。
                }, function(res){
                    alert(res.err_msg);

                    if(res.err_msg != "openDefaultBrowser:ok"){
                        //错误处理

                    }
                });
            }



        </script>
    </head>
    <body>
        <div>
            <button onclick="previewFile()">预览文件</button>
        </div>
        <div>
            <button onclick="openDefaultBrowser()">打开默认浏览器</button>
        </div>
        <div>
            <button onclick="checkJsApi()">校验JSAPI</button>
        </div>

    </body>
</html>
