# 1.STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# 2.IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/out/

# 3.NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# 4.VS Code
.vscode/

# 5.Mac
.DS_Store

# 6.Maven
target/

# 7.gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 8. 日志
log/
logs/
*.log

# 9.jrebel
*rebel.xml*


# 10.无用文件
*.zip
*.pdf


# 11.js
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 12.Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln


